@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}
.mt-out{
    margin-top: 200vh;
}
.custom-scrollbar::-webkit-scrollbar{
    height: 6px;
}
/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
    border-radius: 3px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}