@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}
.mt-out{
    margin-top: 200vh;
}